body {
  font-family: sans-serif;
}
span {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.product-list-container {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

/* Single Product Card */
.single-product-card-container {
  display: flex;
  width: 400px;
  justify-content: center;
  margin: 5px;
  align-items: center;
  flex-direction: column;
}

.single-product-card-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 97%;
}

.single-product-card-container img {
  height: 375px;
  width: 375px;
}

.single-product-card-container span {
  font-family: sans-serif;
  margin: 5px;
}
/* Selected Car Card */
.selected-car-card-top-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 102%;
  margin-left: -8px;
  background-color: rgb(245, 245, 245);
  border: 1px black solid;
  height: 600px;
  /* margin: auto; */
}

.selected-car-card-top-container-header {
  display: flex;
  width: 80%;
  border: 1px black solid;
  height: 70px;
  justify-content: center;
}
.selected-car-card-top-container-main {
  display: flex;
  flex-direction: row;
  width: 90%;
  border: 1px black solid;
  height: 500px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.selected-car-card-top-container-main img {
  height: 400px;
  width: 400px;
  margin: 30px;
}

/*Cart */

.side-cart {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 30px;
  border: 1px black solid;
  background-color: white;
  justify-content: center;
  height: 230px;
}

.side-cart-price {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f5f5f5;
  height: 30px;
}
.side-cart-price-text {
  margin-left: 5px;
  color: #212121;
  font-family: Nunito, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.side-cart-quantity {
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 95%;
}
.side-cart-quantity span {
  margin-left: 5px;
  color: #212121;
  font-family: Nunito, sans-serif;
  font-style: normal;
}
.side-cart-quantity-button-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.side-cart-quantity-btn {
  height: 22px;
  width: 22px;
}

.side-cart-quantity-state {
  margin-left: 10px;
  margin-right: 10px;
}

.side-cart .reviews {
  width: 95%;
  margin: auto;
}

.side-cart select {
  width: 95%;
  margin: auto;
  height: 20px;
}

.add-to-cart-btn {
  width: 95%;
  margin: auto;
  background-color: #e4e4e4;
  height: 35px;
}

.purchase-btn {
  width: 95%;
  margin: auto;
  background-color: #141414;
  height: 35px;
  color: #e4e4e4;
}
